alacritty
picom-ibhagwan-git
maim
alacritty
nordic-darker-theme
stow
bashtop
lf
neovim
adobe-source-han-sans-cn-fonts
adobe-source-han-sans-jp-fonts
adobe-source-han-sans-kr-fonts
adobe-source-sans-fonts
arcolinux-fonts-git
awesome-terminal-fonts
cherry-font-git
gsfonts
noto-fonts
otf-font-awesome
terminus-font
ttf-font-awesome
ttf-mac-fonts
ttf-ms-fonts
ttf-ubuntu-font-family
nerd-fonts-jetbrains-mono
