alacritty
picom-ibhagwan-git
maim
alacritty
nord-darker-theme
stow
bashtop
lf
neovim
adobe-source-han-sans-cn-fonts
adobe-source-han-sans-jp-fonts
adobe-source-han-sans-kr-fonts
adobe-source-sans-fonts
arcolinux-fonts-git
awesome-terminal-fonts
cherry-font-git
gsfonts
nerd-fonts-source-code-pro
noto-fonts
otf-font-awesome
terminus-font
ttf-font-awesome
ttf-mac-fonts
ttf-ms-fonts
ttf-nerd-fonts-symbols-mono
ttf-ubuntu-font-family
